body {
  font-family: calibri;
}

ul.game {
    margin: 0;
    padding: 0;
    width: 380px;
    height: 380px;
    float: right;
    margin-right: 500px;
}

ul.game li {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #eee;
    display: inline-block;
    height: 23%;
    width: 23%;
    cursor: pointer;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
