body {
  font-family: calibri;
  color: #1c1c1c;
}

ul.game {
    margin: 0;
    padding: 0;
    width: 380px;
    height: 380px;
    position: absolute;
    top: 10%;
    left: 37%;
}

ul.game .blank {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #eee;
    display: inline-block;
    height: 23%;
    width: 23%;
    cursor: pointer;
}

ul.game .target {
  border: 3px solid #02496a;
}

ul.game .current {
  background: #ff7458;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
